-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('MD', 'SALES_HEAD', 'TEAM_LEAD', 'BD', 'INSURANCE_HEAD', 'PL_HEAD', 'OUTSTANDING_HEAD', 'HR_HEAD', 'FINANCE_HEAD', 'ADMIN', 'USER');

-- CreateEnum
CREATE TYPE "Circle" AS ENUM ('North', 'South', 'East', 'West', 'Central');

-- CreateEnum
CREATE TYPE "PipelineStage" AS ENUM ('SALES', 'INSURANCE', 'PL', 'COMPLETED', 'LOST');

-- CreateEnum
CREATE TYPE "TargetType" AS ENUM ('BD', 'TEAM');

-- CreateEnum
CREATE TYPE "PeriodType" AS ENUM ('WEEK', 'MONTH');

-- CreateEnum
CREATE TYPE "TargetMetric" AS ENUM ('LEADS_CLOSED', 'NET_PROFIT', 'BILL_AMOUNT', 'SURGERIES_DONE');

-- CreateEnum
CREATE TYPE "BonusRuleType" AS ENUM ('PERCENT_ABOVE_TARGET', 'FIXED_COUNT');

-- CreateEnum
CREATE TYPE "InsuranceCaseStatus" AS ENUM ('IN_PROGRESS', 'APPROVED', 'REJECTED', 'QUERY');

-- CreateEnum
CREATE TYPE "LeaveRequestStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "PunchDirection" AS ENUM ('IN', 'OUT');

-- CreateEnum
CREATE TYPE "PayrollComponentType" AS ENUM ('ALLOWANCE', 'DEDUCTION');

-- CreateEnum
CREATE TYPE "DocumentType" AS ENUM ('OFFER_LETTER', 'APPRAISAL_LETTER', 'EXPERIENCE_LETTER', 'RELIEVING_LETTER');

-- CreateEnum
CREATE TYPE "FeedbackStatus" AS ENUM ('PENDING', 'REVIEWED', 'ACKNOWLEDGED');

-- CreateEnum
CREATE TYPE "RequestStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "AppointmentStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'COMPLETED');

-- CreateEnum
CREATE TYPE "TicketPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "TicketStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "ApplicationStatus" AS ENUM ('PENDING', 'SHORTLISTED', 'REJECTED', 'HIRED');

-- CreateEnum
CREATE TYPE "KYPStatus" AS ENUM ('PENDING', 'KYP_DETAILS_ADDED', 'PRE_AUTH_COMPLETE', 'FOLLOW_UP_COMPLETE', 'COMPLETED');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('KYP_SUBMITTED', 'PRE_AUTH_COMPLETE', 'FOLLOW_UP_COMPLETE', 'KYP_COMPLETED', 'QUERY_RAISED', 'QUERY_ANSWERED', 'DISCHARGE_SHEET_CREATED', 'PREAUTH_RAISED', 'INITIATED', 'DISCHARGED', 'CASE_CHAT_MESSAGE', 'TASK_ASSIGNED', 'TASK_DUE_SOON', 'DUE_DATE_CHANGE_REQUESTED', 'DUE_DATE_CHANGE_APPROVED', 'DUE_DATE_CHANGE_REJECTED');

-- CreateEnum
CREATE TYPE "TaskPriority" AS ENUM ('GENERAL', 'LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "TaskStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "TaskApprovalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "QueryStatus" AS ENUM ('PENDING', 'ANSWERED', 'RESOLVED');

-- CreateEnum
CREATE TYPE "InsuranceType" AS ENUM ('INDIVIDUAL', 'FAMILY_FLOATER', 'GROUP_CORPORATE');

-- CreateEnum
CREATE TYPE "IpdStatus" AS ENUM ('ADMITTED_DONE', 'POSTPONED', 'CANCELLED', 'DISCHARGED');

-- CreateEnum
CREATE TYPE "CaseStage" AS ENUM ('NEW_LEAD', 'KYP_BASIC_COMPLETE', 'HOSPITALS_SUGGESTED', 'PREAUTH_RAISED', 'PREAUTH_COMPLETE', 'INITIATED', 'DISCHARGED', 'PL_PENDING', 'OUTSTANDING', 'KYP_PENDING', 'KYP_COMPLETE', 'ADMITTED', 'IPD_DONE', 'KYP_BASIC_PENDING', 'KYP_DETAILED_PENDING', 'KYP_DETAILED_COMPLETE');

-- CreateEnum
CREATE TYPE "ChatMessageType" AS ENUM ('TEXT', 'FILE', 'SYSTEM');

-- CreateEnum
CREATE TYPE "PreAuthStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'TEMP_APPROVED');

-- CreateEnum
CREATE TYPE "PartyType" AS ENUM ('BUYER', 'SELLER', 'VENDOR', 'CLIENT', 'SUPPLIER', 'OTHER');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('CREDIT', 'DEBIT', 'SELF_TRANSFER');

-- CreateEnum
CREATE TYPE "LedgerStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "FinancePaymentType" AS ENUM ('EXPENSE', 'NON_EXPENSE', 'RECEIPT');

-- CreateEnum
CREATE TYPE "LedgerAuditAction" AS ENUM ('CREATED', 'UPDATED', 'APPROVED', 'REJECTED', 'DELETED', 'EDIT_REQUESTED', 'EDIT_APPROVED', 'EDIT_REJECTED');

-- CreateEnum
CREATE TYPE "LocationType" AS ENUM ('WAREHOUSE', 'SUB_WAREHOUSE');

-- CreateEnum
CREATE TYPE "StockMovementType" AS ENUM ('PURCHASE', 'ISSUE', 'ADJUSTMENT');

-- CreateEnum
CREATE TYPE "InventoryTransactionStatus" AS ENUM ('PENDING', 'COMPLETED', 'CANCELLED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "UserRole" NOT NULL,
    "teamId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Team" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "circle" "Circle" NOT NULL,
    "salesHeadId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Team_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lead" (
    "id" TEXT NOT NULL,
    "leadRef" TEXT NOT NULL,
    "patientName" TEXT NOT NULL,
    "age" INTEGER NOT NULL,
    "sex" TEXT NOT NULL,
    "phoneNumber" TEXT NOT NULL,
    "alternateNumber" TEXT,
    "attendantName" TEXT,
    "bdId" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "pipelineStage" "PipelineStage" NOT NULL DEFAULT 'SALES',
    "caseStage" "CaseStage" NOT NULL DEFAULT 'NEW_LEAD',
    "circle" "Circle" NOT NULL,
    "city" TEXT NOT NULL,
    "category" TEXT,
    "treatment" TEXT,
    "anesthesia" TEXT,
    "quantityGrade" TEXT,
    "surgeonName" TEXT,
    "surgeonType" TEXT,
    "hospitalName" TEXT NOT NULL,
    "modeOfPayment" TEXT,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "copay" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "deduction" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "settledTotal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "billAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "insuranceName" TEXT,
    "tpa" TEXT,
    "sumInsured" DOUBLE PRECISION,
    "roomRent" DOUBLE PRECISION,
    "icu" DOUBLE PRECISION,
    "capping" DOUBLE PRECISION,
    "arrivalDate" TIMESTAMP(3),
    "arrivalTime" TEXT,
    "surgeryDate" TIMESTAMP(3),
    "operationTime" TEXT,
    "implantType" TEXT,
    "implantAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "instrument" TEXT,
    "consumables" TEXT,
    "createdById" TEXT NOT NULL,
    "createdDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedById" TEXT NOT NULL,
    "updatedDate" TIMESTAMP(3) NOT NULL,
    "remarks" TEXT,
    "source" TEXT,
    "campaignName" TEXT,
    "bdeName" TEXT,
    "conversionDate" TIMESTAMP(3),
    "mediendProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "hospitalShare" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "doctorShare" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "othersShare" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "netProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "ticketSize" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "month" TEXT,
    "leadEntryDate" TIMESTAMP(3),
    "patientEmail" TEXT,
    "whatsapp" TEXT,
    "address" TEXT,
    "docUpload" TEXT,
    "diseaseDetails" TEXT,
    "followUpDate" TIMESTAMP(3),
    "subStatus" INTEGER,
    "opdHospital" TEXT,
    "opdDrName" TEXT,
    "opdContactNo" TEXT,
    "opdCharges" INTEGER NOT NULL DEFAULT 0,
    "opdScheduleDate" TIMESTAMP(3),
    "opdMeeting" INTEGER,
    "ipdAdmissionDate" TIMESTAMP(3),
    "ipdHospital" TEXT,
    "ipdDrName" TEXT,
    "ipdContactNo" TEXT,
    "ipdTotalPayment" INTEGER NOT NULL DEFAULT 0,
    "ipdDetails" TEXT,
    "paymentDetails" INTEGER,
    "attendantContactNo" TEXT,
    "waFormat" TEXT,
    "leadSource" INTEGER,
    "whatsappMessage" TEXT,
    "notification" BOOLEAN NOT NULL DEFAULT false,
    "cityOption" TEXT,
    "emailSent" BOOLEAN NOT NULL DEFAULT false,
    "smsSent" BOOLEAN NOT NULL DEFAULT false,
    "whatsappSent" BOOLEAN NOT NULL DEFAULT false,
    "website" TEXT,
    "description" TEXT,
    "refId" TEXT,
    "duplCount" INTEGER NOT NULL DEFAULT 0,
    "aes" BOOLEAN NOT NULL DEFAULT false,
    "profession" TEXT,
    "qr" TEXT,
    "removeRemarks" BOOLEAN NOT NULL DEFAULT false,
    "adId" TEXT,
    "campaignId" TEXT,
    "formId" TEXT,
    "teamLeadId" INTEGER,
    "remarksId" TEXT,
    "lostReason" TEXT,
    "lostAt" TIMESTAMP(3),

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeadStageEvent" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "fromStage" "PipelineStage" NOT NULL,
    "toStage" "PipelineStage" NOT NULL,
    "changedById" TEXT NOT NULL,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,

    CONSTRAINT "LeadStageEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Target" (
    "id" TEXT NOT NULL,
    "targetType" "TargetType" NOT NULL,
    "targetForId" TEXT NOT NULL,
    "teamId" TEXT,
    "periodType" "PeriodType" NOT NULL,
    "periodStartDate" TIMESTAMP(3) NOT NULL,
    "periodEndDate" TIMESTAMP(3) NOT NULL,
    "metric" "TargetMetric" NOT NULL,
    "targetValue" DOUBLE PRECISION NOT NULL,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Target_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BonusRule" (
    "id" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "ruleType" "BonusRuleType" NOT NULL,
    "thresholdValue" DOUBLE PRECISION NOT NULL,
    "bonusAmount" DOUBLE PRECISION,
    "bonusPercentage" DOUBLE PRECISION,
    "capAmount" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BonusRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InsuranceCase" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "caseStatus" "InsuranceCaseStatus" NOT NULL DEFAULT 'IN_PROGRESS',
    "approvalAmount" DOUBLE PRECISION,
    "tpaRemarks" TEXT,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "approvedAt" TIMESTAMP(3),
    "handledById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InsuranceCase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PLRecord" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "month" TIMESTAMP(3),
    "surgeryDate" TIMESTAMP(3),
    "status" TEXT,
    "paymentType" TEXT,
    "approvedOrCash" TEXT,
    "paymentCollectedAt" TEXT,
    "managerRole" TEXT,
    "managerName" TEXT,
    "bdmName" TEXT,
    "patientName" TEXT,
    "patientPhone" TEXT,
    "doctorName" TEXT,
    "hospitalName" TEXT,
    "category" TEXT,
    "treatment" TEXT,
    "circle" TEXT,
    "leadSource" TEXT,
    "totalAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "billAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cashPaidByPatient" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cashOrDedPaid" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "referralAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cabCharges" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "implantCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "dcCharges" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "doctorCharges" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "hospitalSharePct" DOUBLE PRECISION,
    "hospitalShareAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "mediendSharePct" DOUBLE PRECISION,
    "mediendShareAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "mediendNetProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "finalProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "hospitalPayoutStatus" TEXT,
    "doctorPayoutStatus" TEXT,
    "mediendInvoiceStatus" TEXT,
    "hospitalAmountPending" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "doctorAmountPending" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "remarks" TEXT,
    "closedAt" TIMESTAMP(3),
    "handledById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PLRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IncomingLead" (
    "id" TEXT NOT NULL,
    "source" TEXT,
    "payload" JSONB NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "receivedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IncomingLead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "headId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DepartmentTeam" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "teamLeadId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DepartmentTeam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Employee" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "employeeCode" TEXT NOT NULL,
    "joinDate" TIMESTAMP(3),
    "salary" DOUBLE PRECISION,
    "departmentId" TEXT,
    "teamId" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "aadharNumber" TEXT,
    "panNumber" TEXT,
    "aadharDocUrl" TEXT,
    "panDocUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AttendanceLog" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "logDate" TIMESTAMP(3) NOT NULL,
    "punchDirection" "PunchDirection" NOT NULL,
    "temperature" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "serialNumber" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AttendanceLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeaveTypeMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "maxDays" INTEGER NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LeaveTypeMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeaveRequest" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "leaveTypeId" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "days" INTEGER NOT NULL,
    "reason" TEXT,
    "status" "LeaveRequestStatus" NOT NULL DEFAULT 'PENDING',
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "remarks" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LeaveRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeaveBalance" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "leaveTypeId" TEXT NOT NULL,
    "allocated" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "used" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "remaining" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LeaveBalance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PayrollRecord" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "month" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "disbursedAt" TIMESTAMP(3) NOT NULL,
    "basicSalary" DOUBLE PRECISION NOT NULL,
    "grossSalary" DOUBLE PRECISION NOT NULL,
    "netSalary" DOUBLE PRECISION NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PayrollRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PayrollComponent" (
    "id" TEXT NOT NULL,
    "payrollRecordId" TEXT NOT NULL,
    "componentType" "PayrollComponentType" NOT NULL,
    "name" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PayrollComponent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmployeeDocument" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "documentType" "DocumentType" NOT NULL,
    "documentUrl" TEXT,
    "metadata" JSONB,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EmployeeDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Feedback" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" "FeedbackStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnonymousMessage" (
    "id" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnonymousMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MDAppointment" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "preferredDate" TIMESTAMP(3),
    "reason" TEXT NOT NULL,
    "status" "AppointmentStatus" NOT NULL DEFAULT 'PENDING',
    "remarks" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MDAppointment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MentalHealthRequest" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "reason" TEXT,
    "status" "RequestStatus" NOT NULL DEFAULT 'PENDING',
    "hrResponse" TEXT,
    "respondedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MentalHealthRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupportTicket" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "priority" "TicketPriority" NOT NULL DEFAULT 'MEDIUM',
    "status" "TicketStatus" NOT NULL DEFAULT 'OPEN',
    "response" TEXT,
    "respondedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SupportTicket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IncrementRequest" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "currentSalary" DOUBLE PRECISION NOT NULL,
    "requestedAmount" DOUBLE PRECISION,
    "reason" TEXT NOT NULL,
    "achievements" TEXT,
    "documents" JSONB,
    "status" "RequestStatus" NOT NULL DEFAULT 'PENDING',
    "approvalPercentage" DOUBLE PRECISION,
    "hrRemarks" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IncrementRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InternalJobPosting" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "department" TEXT,
    "requirements" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InternalJobPosting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IJPApplication" (
    "id" TEXT NOT NULL,
    "postingId" TEXT NOT NULL,
    "referredById" TEXT NOT NULL,
    "candidateName" TEXT NOT NULL,
    "candidateEmail" TEXT,
    "candidatePhone" TEXT,
    "resumeUrl" TEXT NOT NULL,
    "description" TEXT,
    "documents" JSONB,
    "status" "ApplicationStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IJPApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PartyMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "partyType" "PartyType" NOT NULL,
    "contactName" TEXT,
    "contactEmail" TEXT,
    "contactPhone" TEXT,
    "gstNumber" TEXT,
    "panNumber" TEXT,
    "address" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PartyMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HeadMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "department" TEXT,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "HeadMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProjectMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProjectMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentTypeMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "paymentType" "FinancePaymentType" NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentTypeMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentModeMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "openingBalance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "currentBalance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentModeMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LedgerEntry" (
    "id" TEXT NOT NULL,
    "serialNumber" TEXT NOT NULL,
    "transactionType" "TransactionType" NOT NULL,
    "transactionDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "partyId" TEXT,
    "description" TEXT NOT NULL,
    "headId" TEXT,
    "paymentTypeId" TEXT,
    "paymentAmount" DOUBLE PRECISION,
    "componentA" DOUBLE PRECISION,
    "componentB" DOUBLE PRECISION,
    "receivedAmount" DOUBLE PRECISION,
    "paymentModeId" TEXT,
    "fromPaymentModeId" TEXT,
    "toPaymentModeId" TEXT,
    "transferAmount" DOUBLE PRECISION,
    "openingBalance" DOUBLE PRECISION NOT NULL,
    "currentBalance" DOUBLE PRECISION NOT NULL,
    "status" "LedgerStatus" NOT NULL DEFAULT 'PENDING',
    "rejectionReason" TEXT,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "deletedReason" TEXT,
    "editRequestStatus" "LedgerStatus",
    "editRequestReason" TEXT,
    "editRequestData" JSONB,
    "editRequestedById" TEXT,
    "editRequestedAt" TIMESTAMP(3),
    "editApprovalReason" TEXT,
    "editApprovedById" TEXT,
    "editApprovedAt" TIMESTAMP(3),
    "editCount" INTEGER NOT NULL DEFAULT 0,
    "attachments" JSONB,
    "createdById" TEXT NOT NULL,
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LedgerEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LedgerAuditLog" (
    "id" TEXT NOT NULL,
    "ledgerEntryId" TEXT NOT NULL,
    "action" "LedgerAuditAction" NOT NULL,
    "previousData" JSONB,
    "newData" JSONB,
    "reason" TEXT,
    "performedById" TEXT NOT NULL,
    "performedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LedgerAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalesEntry" (
    "id" TEXT NOT NULL,
    "serialNumber" TEXT NOT NULL,
    "transactionDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "projectId" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "notes" TEXT,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SalesEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LocationMaster" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "type" "LocationType" NOT NULL,
    "parentId" TEXT,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LocationMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ItemMaster" (
    "id" TEXT NOT NULL,
    "itemCode" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "unit" TEXT NOT NULL,
    "supplierId" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "minimumStockLevel" DOUBLE PRECISION NOT NULL,
    "maximumStockLevel" DOUBLE PRECISION NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ItemMaster_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StockMovement" (
    "id" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL,
    "movementType" "StockMovementType" NOT NULL,
    "referenceId" TEXT NOT NULL,
    "referenceType" "StockMovementType" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdById" TEXT NOT NULL,

    CONSTRAINT "StockMovement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchaseTransaction" (
    "id" TEXT NOT NULL,
    "purchaseNumber" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "supplierId" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL,
    "unitPrice" DOUBLE PRECISION NOT NULL,
    "totalPrice" DOUBLE PRECISION NOT NULL,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "description" TEXT,
    "status" "InventoryTransactionStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdById" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PurchaseTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IssueTransaction" (
    "id" TEXT NOT NULL,
    "issueNumber" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "quantity" DOUBLE PRECISION NOT NULL,
    "unitPrice" DOUBLE PRECISION NOT NULL,
    "totalPrice" DOUBLE PRECISION NOT NULL,
    "issuedToId" TEXT NOT NULL,
    "issueDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "description" TEXT,
    "status" "InventoryTransactionStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdById" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IssueTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeadRemark" (
    "id" TEXT NOT NULL,
    "leadRef" TEXT NOT NULL,
    "remarks" TEXT NOT NULL,
    "updateBy" INTEGER,
    "updateDate" TIMESTAMP(3) NOT NULL,
    "ip" TEXT,
    "leadStatus" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LeadRemark_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncState" (
    "id" TEXT NOT NULL,
    "sourceType" TEXT NOT NULL DEFAULT 'mysql_leads',
    "lastSyncedDate" TIMESTAMP(3) NOT NULL,
    "lastSyncedId" INTEGER,
    "recordsCount" INTEGER NOT NULL DEFAULT 0,
    "lastRunAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SyncState_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KYPSubmission" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "aadhar" TEXT,
    "pan" TEXT,
    "insuranceCard" TEXT,
    "disease" TEXT,
    "location" TEXT,
    "area" TEXT,
    "remark" TEXT,
    "insuranceType" "InsuranceType",
    "aadharFileUrl" TEXT,
    "panFileUrl" TEXT,
    "insuranceCardFileUrl" TEXT,
    "prescriptionFileUrl" TEXT,
    "diseasePhotos" JSONB,
    "otherFiles" JSONB,
    "patientConsent" BOOLEAN NOT NULL DEFAULT false,
    "status" "KYPStatus" NOT NULL DEFAULT 'PENDING',
    "submittedById" TEXT NOT NULL,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KYPSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PreAuthorization" (
    "id" TEXT NOT NULL,
    "kypSubmissionId" TEXT NOT NULL,
    "sumInsured" TEXT,
    "balanceInsured" TEXT,
    "roomRent" TEXT,
    "capping" DOUBLE PRECISION,
    "copay" TEXT,
    "icu" TEXT,
    "hospitalNameSuggestion" TEXT,
    "insurance" TEXT,
    "tpa" TEXT,
    "hospitalSuggestions" JSONB,
    "roomTypes" JSONB,
    "requestedHospitalName" TEXT,
    "requestedRoomType" TEXT,
    "diseaseDescription" TEXT,
    "diseaseImages" JSONB,
    "preAuthRaisedAt" TIMESTAMP(3),
    "preAuthRaisedById" TEXT,
    "isNewHospitalRequest" BOOLEAN NOT NULL DEFAULT false,
    "newHospitalPreAuthRaised" BOOLEAN NOT NULL DEFAULT false,
    "expectedAdmissionDate" TIMESTAMP(3),
    "expectedSurgeryDate" TIMESTAMP(3),
    "investigationFileUrls" JSONB,
    "insuranceType" TEXT,
    "handledById" TEXT,
    "handledAt" TIMESTAMP(3),
    "approvalStatus" "PreAuthStatus" NOT NULL DEFAULT 'PENDING',
    "approvedAmount" DOUBLE PRECISION,
    "approvalNotes" TEXT,
    "rejectionReason" TEXT,
    "approvedAt" TIMESTAMP(3),
    "rejectedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PreAuthorization_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HospitalSuggestion" (
    "id" TEXT NOT NULL,
    "preAuthId" TEXT NOT NULL,
    "hospitalName" TEXT NOT NULL,
    "tentativeBill" DOUBLE PRECISION,
    "roomRentGeneral" DOUBLE PRECISION,
    "roomRentSingle" DOUBLE PRECISION,
    "roomRentDeluxe" DOUBLE PRECISION,
    "roomRentSemiPrivate" DOUBLE PRECISION,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HospitalSuggestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "link" TEXT,
    "relatedId" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InsuranceQuery" (
    "id" TEXT NOT NULL,
    "preAuthorizationId" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "answer" TEXT,
    "status" "QueryStatus" NOT NULL DEFAULT 'PENDING',
    "raisedById" TEXT NOT NULL,
    "answeredById" TEXT,
    "raisedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "answeredAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InsuranceQuery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PreAuthPDF" (
    "id" TEXT NOT NULL,
    "preAuthorizationId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "pdfUrl" TEXT NOT NULL,
    "recipients" JSONB,
    "sentAt" TIMESTAMP(3),
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PreAuthPDF_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdmissionRecord" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "admissionDate" TIMESTAMP(3) NOT NULL,
    "admissionTime" TEXT NOT NULL,
    "admittingHospital" TEXT NOT NULL,
    "expectedSurgeryDate" TIMESTAMP(3),
    "surgeryDate" TIMESTAMP(3),
    "surgeryTime" TEXT,
    "hospitalAddress" TEXT,
    "googleMapLocation" TEXT,
    "tpa" TEXT,
    "instrument" TEXT,
    "implantConsumables" TEXT,
    "noMediendLogo" BOOLEAN NOT NULL DEFAULT false,
    "ipdStatus" "IpdStatus",
    "ipdStatusReason" TEXT,
    "newSurgeryDate" TIMESTAMP(3),
    "ipdDischargeDate" TIMESTAMP(3),
    "ipdStatusNotes" TEXT,
    "ipdStatusUpdatedAt" TIMESTAMP(3),
    "notes" TEXT,
    "initiatedById" TEXT NOT NULL,
    "initiatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AdmissionRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InsuranceInitiateForm" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "totalBillAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "otherReductions" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "copay" DOUBLE PRECISION,
    "copayBuffer" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "deductible" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "exceedsPolicyLimit" TEXT,
    "policyDeductibleAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalAuthorizedAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "amountToBePaidByInsurance" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "roomCategory" TEXT,
    "initialApprovalByHospitalUrl" TEXT,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InsuranceInitiateForm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CaseStageHistory" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "fromStage" "CaseStage",
    "toStage" "CaseStage" NOT NULL,
    "changedById" TEXT NOT NULL,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,

    CONSTRAINT "CaseStageHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CaseChatMessage" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "senderId" TEXT,
    "type" "ChatMessageType" NOT NULL,
    "content" TEXT NOT NULL,
    "fileUrl" TEXT,
    "fileName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CaseChatMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DischargeSheet" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "kypSubmissionId" TEXT,
    "month" TIMESTAMP(3),
    "dischargeDate" TIMESTAMP(3),
    "surgeryDate" TIMESTAMP(3),
    "status" TEXT,
    "paymentType" TEXT,
    "approvedOrCash" TEXT,
    "paymentCollectedAt" TEXT,
    "managerRole" TEXT,
    "managerName" TEXT,
    "bdmName" TEXT,
    "patientName" TEXT,
    "patientPhone" TEXT,
    "doctorName" TEXT,
    "hospitalName" TEXT,
    "category" TEXT,
    "treatment" TEXT,
    "circle" TEXT,
    "leadSource" TEXT,
    "tentativeAmount" DOUBLE PRECISION,
    "copayPct" DOUBLE PRECISION,
    "dischargeSummaryUrl" TEXT,
    "otNotesUrl" TEXT,
    "codesCount" INTEGER,
    "finalBillUrl" TEXT,
    "settlementLetterUrl" TEXT,
    "roomRentAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "pharmacyAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "investigationAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "consumablesAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "implantsAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "instrumentsAmount" DOUBLE PRECISION,
    "totalFinalBill" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "finalApprovedAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "finalAmount" DOUBLE PRECISION,
    "deductionAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discountAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "waivedOffAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "settlementPart" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "tdsAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "otherDeduction" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "netSettlementAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "billAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cashPaidByPatient" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cashOrDedPaid" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "referralAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cabCharges" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "implantCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "dcCharges" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "doctorCharges" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "hospitalSharePct" DOUBLE PRECISION,
    "hospitalShareAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "mediendSharePct" DOUBLE PRECISION,
    "mediendShareAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "mediendNetProfit" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "remarks" TEXT,
    "createdById" TEXT NOT NULL,
    "plRecordId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DischargeSheet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OutstandingCase" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "srNo" INTEGER,
    "month" TIMESTAMP(3),
    "dos" TIMESTAMP(3),
    "status" TEXT,
    "paymentReceived" BOOLEAN NOT NULL DEFAULT false,
    "managerName" TEXT,
    "bdmName" TEXT,
    "patientName" TEXT,
    "treatment" TEXT,
    "hospitalName" TEXT,
    "billAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "settlementAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cashPaidByPatient" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "overallAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "implantCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "dciCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "hospitalSharePct" DOUBLE PRECISION,
    "hospitalShareAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "mediendSharePct" DOUBLE PRECISION,
    "mediendShareAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "outstandingDays" INTEGER,
    "remarks" TEXT,
    "remark2" TEXT,
    "handledById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OutstandingCase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Task" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "dueDate" TIMESTAMP(3),
    "priority" "TaskPriority" NOT NULL DEFAULT 'MEDIUM',
    "status" "TaskStatus" NOT NULL DEFAULT 'PENDING',
    "assigneeId" TEXT NOT NULL,
    "createdById" TEXT NOT NULL,
    "startTime" TIMESTAMP(3),
    "endTime" TIMESTAMP(3),
    "allDay" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaskDueDateApproval" (
    "id" TEXT NOT NULL,
    "taskId" TEXT NOT NULL,
    "requestedById" TEXT NOT NULL,
    "oldDueDate" TIMESTAMP(3),
    "newDueDate" TIMESTAMP(3),
    "status" "TaskApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TaskDueDateApproval_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MDTaskTeam" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MDTaskTeam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MDTaskTeamMember" (
    "id" TEXT NOT NULL,
    "teamId" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MDTaskTeamMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MDWatchlistEmployee" (
    "id" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MDWatchlistEmployee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkLog" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "logDate" TIMESTAMP(3) NOT NULL,
    "intervalStart" INTEGER NOT NULL,
    "intervalEnd" INTEGER NOT NULL,
    "description" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WorkLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CronJobLog" (
    "id" TEXT NOT NULL,
    "jobName" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "durationMs" INTEGER NOT NULL,
    "recordsProcessed" INTEGER,
    "message" TEXT,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CronJobLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RequestLog" (
    "id" TEXT NOT NULL,
    "method" TEXT NOT NULL,
    "path" TEXT NOT NULL,
    "status" INTEGER NOT NULL,
    "durationMs" INTEGER NOT NULL,
    "userId" TEXT,
    "ip" TEXT,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RequestLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_email_idx" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE INDEX "User_teamId_idx" ON "User"("teamId");

-- CreateIndex
CREATE INDEX "Team_salesHeadId_idx" ON "Team"("salesHeadId");

-- CreateIndex
CREATE INDEX "Team_circle_idx" ON "Team"("circle");

-- CreateIndex
CREATE UNIQUE INDEX "Lead_leadRef_key" ON "Lead"("leadRef");

-- CreateIndex
CREATE INDEX "Lead_bdId_idx" ON "Lead"("bdId");

-- CreateIndex
CREATE INDEX "Lead_status_idx" ON "Lead"("status");

-- CreateIndex
CREATE INDEX "Lead_pipelineStage_idx" ON "Lead"("pipelineStage");

-- CreateIndex
CREATE INDEX "Lead_caseStage_idx" ON "Lead"("caseStage");

-- CreateIndex
CREATE INDEX "Lead_circle_idx" ON "Lead"("circle");

-- CreateIndex
CREATE INDEX "Lead_city_idx" ON "Lead"("city");

-- CreateIndex
CREATE INDEX "Lead_hospitalName_idx" ON "Lead"("hospitalName");

-- CreateIndex
CREATE INDEX "Lead_treatment_idx" ON "Lead"("treatment");

-- CreateIndex
CREATE INDEX "Lead_source_idx" ON "Lead"("source");

-- CreateIndex
CREATE INDEX "Lead_createdDate_idx" ON "Lead"("createdDate");

-- CreateIndex
CREATE INDEX "Lead_conversionDate_idx" ON "Lead"("conversionDate");

-- CreateIndex
CREATE INDEX "Lead_surgeryDate_idx" ON "Lead"("surgeryDate");

-- CreateIndex
CREATE INDEX "Lead_leadEntryDate_idx" ON "Lead"("leadEntryDate");

-- CreateIndex
CREATE INDEX "Lead_followUpDate_idx" ON "Lead"("followUpDate");

-- CreateIndex
CREATE INDEX "LeadStageEvent_leadId_idx" ON "LeadStageEvent"("leadId");

-- CreateIndex
CREATE INDEX "LeadStageEvent_changedAt_idx" ON "LeadStageEvent"("changedAt");

-- CreateIndex
CREATE INDEX "Target_targetType_targetForId_idx" ON "Target"("targetType", "targetForId");

-- CreateIndex
CREATE INDEX "Target_periodStartDate_periodEndDate_idx" ON "Target"("periodStartDate", "periodEndDate");

-- CreateIndex
CREATE INDEX "Target_teamId_idx" ON "Target"("teamId");

-- CreateIndex
CREATE INDEX "BonusRule_targetId_idx" ON "BonusRule"("targetId");

-- CreateIndex
CREATE UNIQUE INDEX "InsuranceCase_leadId_key" ON "InsuranceCase"("leadId");

-- CreateIndex
CREATE INDEX "InsuranceCase_leadId_idx" ON "InsuranceCase"("leadId");

-- CreateIndex
CREATE INDEX "InsuranceCase_caseStatus_idx" ON "InsuranceCase"("caseStatus");

-- CreateIndex
CREATE INDEX "InsuranceCase_submittedAt_idx" ON "InsuranceCase"("submittedAt");

-- CreateIndex
CREATE UNIQUE INDEX "PLRecord_leadId_key" ON "PLRecord"("leadId");

-- CreateIndex
CREATE INDEX "PLRecord_leadId_idx" ON "PLRecord"("leadId");

-- CreateIndex
CREATE INDEX "PLRecord_closedAt_idx" ON "PLRecord"("closedAt");

-- CreateIndex
CREATE INDEX "PLRecord_month_idx" ON "PLRecord"("month");

-- CreateIndex
CREATE INDEX "PLRecord_surgeryDate_idx" ON "PLRecord"("surgeryDate");

-- CreateIndex
CREATE INDEX "PLRecord_status_idx" ON "PLRecord"("status");

-- CreateIndex
CREATE INDEX "IncomingLead_status_idx" ON "IncomingLead"("status");

-- CreateIndex
CREATE INDEX "IncomingLead_receivedAt_idx" ON "IncomingLead"("receivedAt");

-- CreateIndex
CREATE INDEX "Department_headId_idx" ON "Department"("headId");

-- CreateIndex
CREATE INDEX "Department_name_idx" ON "Department"("name");

-- CreateIndex
CREATE UNIQUE INDEX "DepartmentTeam_teamLeadId_key" ON "DepartmentTeam"("teamLeadId");

-- CreateIndex
CREATE INDEX "DepartmentTeam_departmentId_idx" ON "DepartmentTeam"("departmentId");

-- CreateIndex
CREATE INDEX "DepartmentTeam_teamLeadId_idx" ON "DepartmentTeam"("teamLeadId");

-- CreateIndex
CREATE UNIQUE INDEX "Employee_userId_key" ON "Employee"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Employee_employeeCode_key" ON "Employee"("employeeCode");

-- CreateIndex
CREATE INDEX "Employee_userId_idx" ON "Employee"("userId");

-- CreateIndex
CREATE INDEX "Employee_employeeCode_idx" ON "Employee"("employeeCode");

-- CreateIndex
CREATE INDEX "Employee_departmentId_idx" ON "Employee"("departmentId");

-- CreateIndex
CREATE INDEX "Employee_teamId_idx" ON "Employee"("teamId");

-- CreateIndex
CREATE INDEX "AttendanceLog_employeeId_idx" ON "AttendanceLog"("employeeId");

-- CreateIndex
CREATE INDEX "AttendanceLog_logDate_idx" ON "AttendanceLog"("logDate");

-- CreateIndex
CREATE INDEX "AttendanceLog_punchDirection_idx" ON "AttendanceLog"("punchDirection");

-- CreateIndex
CREATE UNIQUE INDEX "AttendanceLog_employeeId_logDate_punchDirection_key" ON "AttendanceLog"("employeeId", "logDate", "punchDirection");

-- CreateIndex
CREATE UNIQUE INDEX "LeaveTypeMaster_name_key" ON "LeaveTypeMaster"("name");

-- CreateIndex
CREATE INDEX "LeaveTypeMaster_name_idx" ON "LeaveTypeMaster"("name");

-- CreateIndex
CREATE INDEX "LeaveTypeMaster_isActive_idx" ON "LeaveTypeMaster"("isActive");

-- CreateIndex
CREATE INDEX "LeaveRequest_employeeId_idx" ON "LeaveRequest"("employeeId");

-- CreateIndex
CREATE INDEX "LeaveRequest_status_idx" ON "LeaveRequest"("status");

-- CreateIndex
CREATE INDEX "LeaveRequest_startDate_idx" ON "LeaveRequest"("startDate");

-- CreateIndex
CREATE INDEX "LeaveRequest_leaveTypeId_idx" ON "LeaveRequest"("leaveTypeId");

-- CreateIndex
CREATE INDEX "LeaveBalance_employeeId_idx" ON "LeaveBalance"("employeeId");

-- CreateIndex
CREATE INDEX "LeaveBalance_leaveTypeId_idx" ON "LeaveBalance"("leaveTypeId");

-- CreateIndex
CREATE UNIQUE INDEX "LeaveBalance_employeeId_leaveTypeId_key" ON "LeaveBalance"("employeeId", "leaveTypeId");

-- CreateIndex
CREATE INDEX "PayrollRecord_employeeId_idx" ON "PayrollRecord"("employeeId");

-- CreateIndex
CREATE INDEX "PayrollRecord_month_year_idx" ON "PayrollRecord"("month", "year");

-- CreateIndex
CREATE UNIQUE INDEX "PayrollRecord_employeeId_month_year_key" ON "PayrollRecord"("employeeId", "month", "year");

-- CreateIndex
CREATE INDEX "PayrollComponent_payrollRecordId_idx" ON "PayrollComponent"("payrollRecordId");

-- CreateIndex
CREATE INDEX "PayrollComponent_componentType_idx" ON "PayrollComponent"("componentType");

-- CreateIndex
CREATE INDEX "EmployeeDocument_employeeId_idx" ON "EmployeeDocument"("employeeId");

-- CreateIndex
CREATE INDEX "EmployeeDocument_documentType_idx" ON "EmployeeDocument"("documentType");

-- CreateIndex
CREATE INDEX "Feedback_employeeId_idx" ON "Feedback"("employeeId");

-- CreateIndex
CREATE INDEX "Feedback_status_idx" ON "Feedback"("status");

-- CreateIndex
CREATE INDEX "Feedback_createdAt_idx" ON "Feedback"("createdAt");

-- CreateIndex
CREATE INDEX "AnonymousMessage_isRead_idx" ON "AnonymousMessage"("isRead");

-- CreateIndex
CREATE INDEX "AnonymousMessage_createdAt_idx" ON "AnonymousMessage"("createdAt");

-- CreateIndex
CREATE INDEX "MDAppointment_employeeId_idx" ON "MDAppointment"("employeeId");

-- CreateIndex
CREATE INDEX "MDAppointment_status_idx" ON "MDAppointment"("status");

-- CreateIndex
CREATE INDEX "MDAppointment_createdAt_idx" ON "MDAppointment"("createdAt");

-- CreateIndex
CREATE INDEX "MentalHealthRequest_employeeId_idx" ON "MentalHealthRequest"("employeeId");

-- CreateIndex
CREATE INDEX "MentalHealthRequest_status_idx" ON "MentalHealthRequest"("status");

-- CreateIndex
CREATE INDEX "MentalHealthRequest_createdAt_idx" ON "MentalHealthRequest"("createdAt");

-- CreateIndex
CREATE INDEX "SupportTicket_employeeId_idx" ON "SupportTicket"("employeeId");

-- CreateIndex
CREATE INDEX "SupportTicket_departmentId_idx" ON "SupportTicket"("departmentId");

-- CreateIndex
CREATE INDEX "SupportTicket_status_idx" ON "SupportTicket"("status");

-- CreateIndex
CREATE INDEX "SupportTicket_priority_idx" ON "SupportTicket"("priority");

-- CreateIndex
CREATE INDEX "SupportTicket_createdAt_idx" ON "SupportTicket"("createdAt");

-- CreateIndex
CREATE INDEX "IncrementRequest_employeeId_idx" ON "IncrementRequest"("employeeId");

-- CreateIndex
CREATE INDEX "IncrementRequest_status_idx" ON "IncrementRequest"("status");

-- CreateIndex
CREATE INDEX "IncrementRequest_createdAt_idx" ON "IncrementRequest"("createdAt");

-- CreateIndex
CREATE INDEX "InternalJobPosting_isActive_idx" ON "InternalJobPosting"("isActive");

-- CreateIndex
CREATE INDEX "InternalJobPosting_createdAt_idx" ON "InternalJobPosting"("createdAt");

-- CreateIndex
CREATE INDEX "IJPApplication_postingId_idx" ON "IJPApplication"("postingId");

-- CreateIndex
CREATE INDEX "IJPApplication_referredById_idx" ON "IJPApplication"("referredById");

-- CreateIndex
CREATE INDEX "IJPApplication_status_idx" ON "IJPApplication"("status");

-- CreateIndex
CREATE INDEX "IJPApplication_createdAt_idx" ON "IJPApplication"("createdAt");

-- CreateIndex
CREATE INDEX "PartyMaster_name_idx" ON "PartyMaster"("name");

-- CreateIndex
CREATE INDEX "PartyMaster_partyType_idx" ON "PartyMaster"("partyType");

-- CreateIndex
CREATE INDEX "PartyMaster_isActive_idx" ON "PartyMaster"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "HeadMaster_name_key" ON "HeadMaster"("name");

-- CreateIndex
CREATE INDEX "HeadMaster_name_idx" ON "HeadMaster"("name");

-- CreateIndex
CREATE INDEX "HeadMaster_isActive_idx" ON "HeadMaster"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectMaster_name_key" ON "ProjectMaster"("name");

-- CreateIndex
CREATE INDEX "ProjectMaster_name_idx" ON "ProjectMaster"("name");

-- CreateIndex
CREATE INDEX "ProjectMaster_isActive_idx" ON "ProjectMaster"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentTypeMaster_name_key" ON "PaymentTypeMaster"("name");

-- CreateIndex
CREATE INDEX "PaymentTypeMaster_paymentType_idx" ON "PaymentTypeMaster"("paymentType");

-- CreateIndex
CREATE INDEX "PaymentTypeMaster_isActive_idx" ON "PaymentTypeMaster"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentModeMaster_name_key" ON "PaymentModeMaster"("name");

-- CreateIndex
CREATE INDEX "PaymentModeMaster_name_idx" ON "PaymentModeMaster"("name");

-- CreateIndex
CREATE INDEX "PaymentModeMaster_isActive_idx" ON "PaymentModeMaster"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "LedgerEntry_serialNumber_key" ON "LedgerEntry"("serialNumber");

-- CreateIndex
CREATE INDEX "LedgerEntry_serialNumber_idx" ON "LedgerEntry"("serialNumber");

-- CreateIndex
CREATE INDEX "LedgerEntry_transactionType_idx" ON "LedgerEntry"("transactionType");

-- CreateIndex
CREATE INDEX "LedgerEntry_transactionDate_idx" ON "LedgerEntry"("transactionDate");

-- CreateIndex
CREATE INDEX "LedgerEntry_partyId_idx" ON "LedgerEntry"("partyId");

-- CreateIndex
CREATE INDEX "LedgerEntry_headId_idx" ON "LedgerEntry"("headId");

-- CreateIndex
CREATE INDEX "LedgerEntry_paymentModeId_idx" ON "LedgerEntry"("paymentModeId");

-- CreateIndex
CREATE INDEX "LedgerEntry_fromPaymentModeId_idx" ON "LedgerEntry"("fromPaymentModeId");

-- CreateIndex
CREATE INDEX "LedgerEntry_toPaymentModeId_idx" ON "LedgerEntry"("toPaymentModeId");

-- CreateIndex
CREATE INDEX "LedgerEntry_status_idx" ON "LedgerEntry"("status");

-- CreateIndex
CREATE INDEX "LedgerEntry_createdById_idx" ON "LedgerEntry"("createdById");

-- CreateIndex
CREATE INDEX "LedgerEntry_isDeleted_idx" ON "LedgerEntry"("isDeleted");

-- CreateIndex
CREATE INDEX "LedgerEntry_editRequestStatus_idx" ON "LedgerEntry"("editRequestStatus");

-- CreateIndex
CREATE INDEX "LedgerAuditLog_ledgerEntryId_idx" ON "LedgerAuditLog"("ledgerEntryId");

-- CreateIndex
CREATE INDEX "LedgerAuditLog_action_idx" ON "LedgerAuditLog"("action");

-- CreateIndex
CREATE INDEX "LedgerAuditLog_performedAt_idx" ON "LedgerAuditLog"("performedAt");

-- CreateIndex
CREATE UNIQUE INDEX "SalesEntry_serialNumber_key" ON "SalesEntry"("serialNumber");

-- CreateIndex
CREATE INDEX "SalesEntry_transactionDate_idx" ON "SalesEntry"("transactionDate");

-- CreateIndex
CREATE INDEX "SalesEntry_projectId_idx" ON "SalesEntry"("projectId");

-- CreateIndex
CREATE INDEX "SalesEntry_isDeleted_idx" ON "SalesEntry"("isDeleted");

-- CreateIndex
CREATE UNIQUE INDEX "LocationMaster_code_key" ON "LocationMaster"("code");

-- CreateIndex
CREATE INDEX "LocationMaster_code_idx" ON "LocationMaster"("code");

-- CreateIndex
CREATE INDEX "LocationMaster_type_idx" ON "LocationMaster"("type");

-- CreateIndex
CREATE INDEX "LocationMaster_parentId_idx" ON "LocationMaster"("parentId");

-- CreateIndex
CREATE INDEX "LocationMaster_isActive_idx" ON "LocationMaster"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "ItemMaster_itemCode_key" ON "ItemMaster"("itemCode");

-- CreateIndex
CREATE INDEX "ItemMaster_itemCode_idx" ON "ItemMaster"("itemCode");

-- CreateIndex
CREATE INDEX "ItemMaster_name_idx" ON "ItemMaster"("name");

-- CreateIndex
CREATE INDEX "ItemMaster_supplierId_idx" ON "ItemMaster"("supplierId");

-- CreateIndex
CREATE INDEX "ItemMaster_locationId_idx" ON "ItemMaster"("locationId");

-- CreateIndex
CREATE INDEX "ItemMaster_isActive_idx" ON "ItemMaster"("isActive");

-- CreateIndex
CREATE INDEX "StockMovement_itemId_idx" ON "StockMovement"("itemId");

-- CreateIndex
CREATE INDEX "StockMovement_locationId_idx" ON "StockMovement"("locationId");

-- CreateIndex
CREATE INDEX "StockMovement_referenceId_idx" ON "StockMovement"("referenceId");

-- CreateIndex
CREATE INDEX "StockMovement_createdAt_idx" ON "StockMovement"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "PurchaseTransaction_purchaseNumber_key" ON "PurchaseTransaction"("purchaseNumber");

-- CreateIndex
CREATE INDEX "PurchaseTransaction_purchaseNumber_idx" ON "PurchaseTransaction"("purchaseNumber");

-- CreateIndex
CREATE INDEX "PurchaseTransaction_itemId_idx" ON "PurchaseTransaction"("itemId");

-- CreateIndex
CREATE INDEX "PurchaseTransaction_supplierId_idx" ON "PurchaseTransaction"("supplierId");

-- CreateIndex
CREATE INDEX "PurchaseTransaction_locationId_idx" ON "PurchaseTransaction"("locationId");

-- CreateIndex
CREATE INDEX "PurchaseTransaction_purchaseDate_idx" ON "PurchaseTransaction"("purchaseDate");

-- CreateIndex
CREATE INDEX "PurchaseTransaction_status_idx" ON "PurchaseTransaction"("status");

-- CreateIndex
CREATE UNIQUE INDEX "IssueTransaction_issueNumber_key" ON "IssueTransaction"("issueNumber");

-- CreateIndex
CREATE INDEX "IssueTransaction_issueNumber_idx" ON "IssueTransaction"("issueNumber");

-- CreateIndex
CREATE INDEX "IssueTransaction_itemId_idx" ON "IssueTransaction"("itemId");

-- CreateIndex
CREATE INDEX "IssueTransaction_locationId_idx" ON "IssueTransaction"("locationId");

-- CreateIndex
CREATE INDEX "IssueTransaction_issuedToId_idx" ON "IssueTransaction"("issuedToId");

-- CreateIndex
CREATE INDEX "IssueTransaction_issueDate_idx" ON "IssueTransaction"("issueDate");

-- CreateIndex
CREATE INDEX "IssueTransaction_status_idx" ON "IssueTransaction"("status");

-- CreateIndex
CREATE INDEX "LeadRemark_leadRef_idx" ON "LeadRemark"("leadRef");

-- CreateIndex
CREATE INDEX "LeadRemark_updateDate_idx" ON "LeadRemark"("updateDate");

-- CreateIndex
CREATE UNIQUE INDEX "SyncState_sourceType_key" ON "SyncState"("sourceType");

-- CreateIndex
CREATE UNIQUE INDEX "KYPSubmission_leadId_key" ON "KYPSubmission"("leadId");

-- CreateIndex
CREATE INDEX "KYPSubmission_leadId_idx" ON "KYPSubmission"("leadId");

-- CreateIndex
CREATE INDEX "KYPSubmission_status_idx" ON "KYPSubmission"("status");

-- CreateIndex
CREATE INDEX "KYPSubmission_submittedAt_idx" ON "KYPSubmission"("submittedAt");

-- CreateIndex
CREATE UNIQUE INDEX "PreAuthorization_kypSubmissionId_key" ON "PreAuthorization"("kypSubmissionId");

-- CreateIndex
CREATE INDEX "PreAuthorization_kypSubmissionId_idx" ON "PreAuthorization"("kypSubmissionId");

-- CreateIndex
CREATE INDEX "PreAuthorization_preAuthRaisedById_idx" ON "PreAuthorization"("preAuthRaisedById");

-- CreateIndex
CREATE INDEX "HospitalSuggestion_preAuthId_idx" ON "HospitalSuggestion"("preAuthId");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_isRead_idx" ON "Notification"("isRead");

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "Notification"("createdAt");

-- CreateIndex
CREATE INDEX "InsuranceQuery_preAuthorizationId_idx" ON "InsuranceQuery"("preAuthorizationId");

-- CreateIndex
CREATE INDEX "InsuranceQuery_status_idx" ON "InsuranceQuery"("status");

-- CreateIndex
CREATE INDEX "InsuranceQuery_raisedAt_idx" ON "InsuranceQuery"("raisedAt");

-- CreateIndex
CREATE INDEX "PreAuthPDF_preAuthorizationId_idx" ON "PreAuthPDF"("preAuthorizationId");

-- CreateIndex
CREATE UNIQUE INDEX "AdmissionRecord_leadId_key" ON "AdmissionRecord"("leadId");

-- CreateIndex
CREATE INDEX "AdmissionRecord_leadId_idx" ON "AdmissionRecord"("leadId");

-- CreateIndex
CREATE UNIQUE INDEX "InsuranceInitiateForm_leadId_key" ON "InsuranceInitiateForm"("leadId");

-- CreateIndex
CREATE INDEX "InsuranceInitiateForm_leadId_idx" ON "InsuranceInitiateForm"("leadId");

-- CreateIndex
CREATE INDEX "CaseStageHistory_leadId_idx" ON "CaseStageHistory"("leadId");

-- CreateIndex
CREATE INDEX "CaseStageHistory_changedAt_idx" ON "CaseStageHistory"("changedAt");

-- CreateIndex
CREATE INDEX "CaseChatMessage_leadId_createdAt_idx" ON "CaseChatMessage"("leadId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "DischargeSheet_leadId_key" ON "DischargeSheet"("leadId");

-- CreateIndex
CREATE UNIQUE INDEX "DischargeSheet_kypSubmissionId_key" ON "DischargeSheet"("kypSubmissionId");

-- CreateIndex
CREATE UNIQUE INDEX "DischargeSheet_plRecordId_key" ON "DischargeSheet"("plRecordId");

-- CreateIndex
CREATE INDEX "DischargeSheet_leadId_idx" ON "DischargeSheet"("leadId");

-- CreateIndex
CREATE INDEX "DischargeSheet_kypSubmissionId_idx" ON "DischargeSheet"("kypSubmissionId");

-- CreateIndex
CREATE INDEX "DischargeSheet_month_idx" ON "DischargeSheet"("month");

-- CreateIndex
CREATE INDEX "DischargeSheet_surgeryDate_idx" ON "DischargeSheet"("surgeryDate");

-- CreateIndex
CREATE INDEX "DischargeSheet_status_idx" ON "DischargeSheet"("status");

-- CreateIndex
CREATE UNIQUE INDEX "OutstandingCase_leadId_key" ON "OutstandingCase"("leadId");

-- CreateIndex
CREATE INDEX "OutstandingCase_leadId_idx" ON "OutstandingCase"("leadId");

-- CreateIndex
CREATE INDEX "OutstandingCase_month_idx" ON "OutstandingCase"("month");

-- CreateIndex
CREATE INDEX "OutstandingCase_dos_idx" ON "OutstandingCase"("dos");

-- CreateIndex
CREATE INDEX "OutstandingCase_status_idx" ON "OutstandingCase"("status");

-- CreateIndex
CREATE INDEX "OutstandingCase_paymentReceived_idx" ON "OutstandingCase"("paymentReceived");

-- CreateIndex
CREATE INDEX "Task_assigneeId_idx" ON "Task"("assigneeId");

-- CreateIndex
CREATE INDEX "Task_createdById_idx" ON "Task"("createdById");

-- CreateIndex
CREATE INDEX "Task_status_idx" ON "Task"("status");

-- CreateIndex
CREATE INDEX "Task_dueDate_idx" ON "Task"("dueDate");

-- CreateIndex
CREATE INDEX "TaskDueDateApproval_taskId_idx" ON "TaskDueDateApproval"("taskId");

-- CreateIndex
CREATE INDEX "TaskDueDateApproval_requestedById_idx" ON "TaskDueDateApproval"("requestedById");

-- CreateIndex
CREATE INDEX "TaskDueDateApproval_status_idx" ON "TaskDueDateApproval"("status");

-- CreateIndex
CREATE INDEX "MDTaskTeam_ownerId_idx" ON "MDTaskTeam"("ownerId");

-- CreateIndex
CREATE INDEX "MDTaskTeamMember_teamId_idx" ON "MDTaskTeamMember"("teamId");

-- CreateIndex
CREATE INDEX "MDTaskTeamMember_employeeId_idx" ON "MDTaskTeamMember"("employeeId");

-- CreateIndex
CREATE UNIQUE INDEX "MDTaskTeamMember_teamId_employeeId_key" ON "MDTaskTeamMember"("teamId", "employeeId");

-- CreateIndex
CREATE INDEX "MDWatchlistEmployee_ownerId_idx" ON "MDWatchlistEmployee"("ownerId");

-- CreateIndex
CREATE INDEX "MDWatchlistEmployee_employeeId_idx" ON "MDWatchlistEmployee"("employeeId");

-- CreateIndex
CREATE UNIQUE INDEX "MDWatchlistEmployee_ownerId_employeeId_key" ON "MDWatchlistEmployee"("ownerId", "employeeId");

-- CreateIndex
CREATE INDEX "WorkLog_employeeId_idx" ON "WorkLog"("employeeId");

-- CreateIndex
CREATE INDEX "WorkLog_logDate_idx" ON "WorkLog"("logDate");

-- CreateIndex
CREATE UNIQUE INDEX "WorkLog_employeeId_logDate_intervalStart_key" ON "WorkLog"("employeeId", "logDate", "intervalStart");

-- CreateIndex
CREATE INDEX "CronJobLog_jobName_createdAt_idx" ON "CronJobLog"("jobName", "createdAt");

-- CreateIndex
CREATE INDEX "CronJobLog_createdAt_idx" ON "CronJobLog"("createdAt");

-- CreateIndex
CREATE INDEX "RequestLog_createdAt_idx" ON "RequestLog"("createdAt");

-- CreateIndex
CREATE INDEX "RequestLog_status_createdAt_idx" ON "RequestLog"("status", "createdAt");

-- CreateIndex
CREATE INDEX "RequestLog_path_createdAt_idx" ON "RequestLog"("path", "createdAt");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Team" ADD CONSTRAINT "Team_salesHeadId_fkey" FOREIGN KEY ("salesHeadId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_bdId_fkey" FOREIGN KEY ("bdId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lead" ADD CONSTRAINT "Lead_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeadStageEvent" ADD CONSTRAINT "LeadStageEvent_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeadStageEvent" ADD CONSTRAINT "LeadStageEvent_changedById_fkey" FOREIGN KEY ("changedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Target" ADD CONSTRAINT "Target_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Target" ADD CONSTRAINT "Target_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BonusRule" ADD CONSTRAINT "BonusRule_targetId_fkey" FOREIGN KEY ("targetId") REFERENCES "Target"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceCase" ADD CONSTRAINT "InsuranceCase_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceCase" ADD CONSTRAINT "InsuranceCase_handledById_fkey" FOREIGN KEY ("handledById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PLRecord" ADD CONSTRAINT "PLRecord_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PLRecord" ADD CONSTRAINT "PLRecord_handledById_fkey" FOREIGN KEY ("handledById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Department" ADD CONSTRAINT "Department_headId_fkey" FOREIGN KEY ("headId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepartmentTeam" ADD CONSTRAINT "DepartmentTeam_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepartmentTeam" ADD CONSTRAINT "DepartmentTeam_teamLeadId_fkey" FOREIGN KEY ("teamLeadId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Employee" ADD CONSTRAINT "Employee_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Employee" ADD CONSTRAINT "Employee_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Employee" ADD CONSTRAINT "Employee_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "DepartmentTeam"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceLog" ADD CONSTRAINT "AttendanceLog_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeaveRequest" ADD CONSTRAINT "LeaveRequest_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeaveRequest" ADD CONSTRAINT "LeaveRequest_leaveTypeId_fkey" FOREIGN KEY ("leaveTypeId") REFERENCES "LeaveTypeMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeaveRequest" ADD CONSTRAINT "LeaveRequest_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeaveBalance" ADD CONSTRAINT "LeaveBalance_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LeaveBalance" ADD CONSTRAINT "LeaveBalance_leaveTypeId_fkey" FOREIGN KEY ("leaveTypeId") REFERENCES "LeaveTypeMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollRecord" ADD CONSTRAINT "PayrollRecord_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollComponent" ADD CONSTRAINT "PayrollComponent_payrollRecordId_fkey" FOREIGN KEY ("payrollRecordId") REFERENCES "PayrollRecord"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmployeeDocument" ADD CONSTRAINT "EmployeeDocument_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feedback" ADD CONSTRAINT "Feedback_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MDAppointment" ADD CONSTRAINT "MDAppointment_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MentalHealthRequest" ADD CONSTRAINT "MentalHealthRequest_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupportTicket" ADD CONSTRAINT "SupportTicket_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupportTicket" ADD CONSTRAINT "SupportTicket_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IncrementRequest" ADD CONSTRAINT "IncrementRequest_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IJPApplication" ADD CONSTRAINT "IJPApplication_postingId_fkey" FOREIGN KEY ("postingId") REFERENCES "InternalJobPosting"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IJPApplication" ADD CONSTRAINT "IJPApplication_referredById_fkey" FOREIGN KEY ("referredById") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_partyId_fkey" FOREIGN KEY ("partyId") REFERENCES "PartyMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_headId_fkey" FOREIGN KEY ("headId") REFERENCES "HeadMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_paymentTypeId_fkey" FOREIGN KEY ("paymentTypeId") REFERENCES "PaymentTypeMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_paymentModeId_fkey" FOREIGN KEY ("paymentModeId") REFERENCES "PaymentModeMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_fromPaymentModeId_fkey" FOREIGN KEY ("fromPaymentModeId") REFERENCES "PaymentModeMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_toPaymentModeId_fkey" FOREIGN KEY ("toPaymentModeId") REFERENCES "PaymentModeMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_editRequestedById_fkey" FOREIGN KEY ("editRequestedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_editApprovedById_fkey" FOREIGN KEY ("editApprovedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerEntry" ADD CONSTRAINT "LedgerEntry_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerAuditLog" ADD CONSTRAINT "LedgerAuditLog_ledgerEntryId_fkey" FOREIGN KEY ("ledgerEntryId") REFERENCES "LedgerEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LedgerAuditLog" ADD CONSTRAINT "LedgerAuditLog_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesEntry" ADD CONSTRAINT "SalesEntry_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "ProjectMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesEntry" ADD CONSTRAINT "SalesEntry_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LocationMaster" ADD CONSTRAINT "LocationMaster_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "LocationMaster"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemMaster" ADD CONSTRAINT "ItemMaster_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "PartyMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemMaster" ADD CONSTRAINT "ItemMaster_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "LocationMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StockMovement" ADD CONSTRAINT "StockMovement_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "ItemMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StockMovement" ADD CONSTRAINT "StockMovement_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "LocationMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StockMovement" ADD CONSTRAINT "StockMovement_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseTransaction" ADD CONSTRAINT "PurchaseTransaction_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "ItemMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseTransaction" ADD CONSTRAINT "PurchaseTransaction_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "PartyMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseTransaction" ADD CONSTRAINT "PurchaseTransaction_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "LocationMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseTransaction" ADD CONSTRAINT "PurchaseTransaction_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IssueTransaction" ADD CONSTRAINT "IssueTransaction_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "ItemMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IssueTransaction" ADD CONSTRAINT "IssueTransaction_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "LocationMaster"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IssueTransaction" ADD CONSTRAINT "IssueTransaction_issuedToId_fkey" FOREIGN KEY ("issuedToId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IssueTransaction" ADD CONSTRAINT "IssueTransaction_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KYPSubmission" ADD CONSTRAINT "KYPSubmission_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KYPSubmission" ADD CONSTRAINT "KYPSubmission_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PreAuthorization" ADD CONSTRAINT "PreAuthorization_kypSubmissionId_fkey" FOREIGN KEY ("kypSubmissionId") REFERENCES "KYPSubmission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PreAuthorization" ADD CONSTRAINT "PreAuthorization_preAuthRaisedById_fkey" FOREIGN KEY ("preAuthRaisedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PreAuthorization" ADD CONSTRAINT "PreAuthorization_handledById_fkey" FOREIGN KEY ("handledById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HospitalSuggestion" ADD CONSTRAINT "HospitalSuggestion_preAuthId_fkey" FOREIGN KEY ("preAuthId") REFERENCES "PreAuthorization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceQuery" ADD CONSTRAINT "InsuranceQuery_preAuthorizationId_fkey" FOREIGN KEY ("preAuthorizationId") REFERENCES "PreAuthorization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceQuery" ADD CONSTRAINT "InsuranceQuery_raisedById_fkey" FOREIGN KEY ("raisedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceQuery" ADD CONSTRAINT "InsuranceQuery_answeredById_fkey" FOREIGN KEY ("answeredById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PreAuthPDF" ADD CONSTRAINT "PreAuthPDF_preAuthorizationId_fkey" FOREIGN KEY ("preAuthorizationId") REFERENCES "PreAuthorization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PreAuthPDF" ADD CONSTRAINT "PreAuthPDF_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdmissionRecord" ADD CONSTRAINT "AdmissionRecord_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdmissionRecord" ADD CONSTRAINT "AdmissionRecord_initiatedById_fkey" FOREIGN KEY ("initiatedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceInitiateForm" ADD CONSTRAINT "InsuranceInitiateForm_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InsuranceInitiateForm" ADD CONSTRAINT "InsuranceInitiateForm_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CaseStageHistory" ADD CONSTRAINT "CaseStageHistory_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CaseStageHistory" ADD CONSTRAINT "CaseStageHistory_changedById_fkey" FOREIGN KEY ("changedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CaseChatMessage" ADD CONSTRAINT "CaseChatMessage_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CaseChatMessage" ADD CONSTRAINT "CaseChatMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DischargeSheet" ADD CONSTRAINT "DischargeSheet_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DischargeSheet" ADD CONSTRAINT "DischargeSheet_kypSubmissionId_fkey" FOREIGN KEY ("kypSubmissionId") REFERENCES "KYPSubmission"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DischargeSheet" ADD CONSTRAINT "DischargeSheet_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DischargeSheet" ADD CONSTRAINT "DischargeSheet_plRecordId_fkey" FOREIGN KEY ("plRecordId") REFERENCES "PLRecord"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OutstandingCase" ADD CONSTRAINT "OutstandingCase_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OutstandingCase" ADD CONSTRAINT "OutstandingCase_handledById_fkey" FOREIGN KEY ("handledById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskDueDateApproval" ADD CONSTRAINT "TaskDueDateApproval_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskDueDateApproval" ADD CONSTRAINT "TaskDueDateApproval_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MDTaskTeam" ADD CONSTRAINT "MDTaskTeam_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MDTaskTeamMember" ADD CONSTRAINT "MDTaskTeamMember_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "MDTaskTeam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MDTaskTeamMember" ADD CONSTRAINT "MDTaskTeamMember_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MDWatchlistEmployee" ADD CONSTRAINT "MDWatchlistEmployee_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MDWatchlistEmployee" ADD CONSTRAINT "MDWatchlistEmployee_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkLog" ADD CONSTRAINT "WorkLog_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

